[2017-02-01 21:04] NickSeagull opened #1 "Return has to be pressed twice to make the REPL output appear"

[2017-02-01 21:17] SamuelSchlesinger commented on #1
This could be fixed if we changed the model of communication between the front and back ends to take more explicit messages I believe, unless it's just inherent to the front end, as I think the way we're transferring console content right now is susceptible to bugs.

[2017-02-01 21:19] NickSeagull opened #2 "Open existing projects"

[2017-02-01 21:22] NickSeagull opened #3 "Port PureScript + Electron to GHCJS"
I think that Electron could be changed to a thin Haskell layer that just opens and closes system dialogs, the frontend would pass ADTs to the backend as actions to the backend process through a websocket, making the interconnection seamless.

Right now what we have is something like this:

![current architecture](https://cloud.githubusercontent.com/assets/7448243/22548564/e65b3a78-e93e-11e6-8129-e

[2017-02-01 22:32] ocramz opened #4 "Add dependency version bounds in cabal file"

[2017-02-01 23:07] ocramz opened #5 "Make "error 64" after succesfully building OSX backend"
[code]

[2017-02-01 23:31] NickSeagull commented on #5
Seems like the `cp` comand from the osx target was not executing correctly, just fixed it in the [latest commit](https://github.com/theam/haskell-do/commit/7143c708915638b8189e5bf18e92b3fd621cca58), can you confirm?

[2017-02-01 23:33] NickSeagull opened #6 "Make the REPL auto-run after toggling the side-console"
Right now, the user should press return when on the prompt to activate the console. Maybe we should just make it do so when pressing the *toggle console* button?

[2017-02-01 23:35] NickSeagull opened #7 "Core is left running when closing the GUI"

[2017-02-01 23:43] ocramz commented on #6
Yes, it would make for a smoother UX I think

[2017-02-01 23:57] ocramz opened #8 "Variable binding does not work in the REPL"
1. I declare a type in the editor
2. bind a variable of that type in the REPL
3. nothing happens: GHCi reloads same prompt as beginning of session:
[code]

[2017-02-02 00:03] NickSeagull opened #9 "Make Makefile autocheck the platform"
One could check so with environment variables or `uname -s`.

[2017-02-02 00:04] SamuelSchlesinger commented on #8
I don't think you can define anything with let in the editor, though it should work in the REPL. I'm going to try to replicate this.

[2017-02-02 00:14] ocramz commented on #8
Sorry, typo. I tried both styles (with and without `let`) in the repl of course.

[2017-02-02 00:48] kitfre commented on #9
Created a new branch `makefile-check` with a start towards this. Note that Windows users who run `Cygwin` will run into issues

[2017-02-02 08:00] moljac024 opened #10 "Build is failing on osx"
How to reproduce:

1. git clone https://github.com/theam/haskell-do $PROJECT_ROOT
2. yarn global add bower pulp purescript
3. cd $PROJECT_ROOT
4. make build-all-osx

Now, a side note: the README does say to use npm to install global packages and I did install using yarn instead but I cannot see why this should make a difference. Here are the versions of packages that yarn installed globally:

- bo

[2017-02-02 08:34] kritzcreek commented on #10
`psc: No files found using pattern: bower_components/purescript-*/src/**/*.purs` sounds like a good indication. Did you run the `make deps` command? I've not built this yet, but it seems like you're missing a `bower install` somewhere.

[2017-02-02 08:36] ocramz commented on #10
Hmm, it looks like Purescript is expecting something produced by Bower: `psc: No files found using pattern: bower_components/purescript-*/src/**/*.purs`. Try with `make deps` instead? As  kritzcreek suggests above

[2017-02-02 10:14] NickSeagull commented on #10
@moljac024 it looks exactly what @kRITZCREEK said. Try to run a `make deps` first 😄

[2017-02-02 10:35] NickSeagull opened #11 "PDF Exporting"
We need to be able to export PDF's using `pandoc` or something.

[2017-02-02 12:47] moljac024 commented on #10
Yes, that appears to have been the problem. But the README says that the build-all-{platform} command should install dependencies and build the project. Looks like we need to update either the README or the Makefile.

EDIT: I read that wrong. The readme does state that you have to run `make deps` first, I must have skipped it and confused it with the instructions for building the backend. I will c

[2017-02-02 12:48] #10 closed

[2017-02-02 12:50] NickSeagull commented on #10
It's okay @moljac024 everyone of us messes up! Thanks a lot to you for trying this out! 😄

[2017-02-02 12:51] NickSeagull commented on #5
@ocramz Does this thing keeps happening with the new `Makefile`?

[2017-02-02 13:59] ocramz commented on #5
I'm really puzzled. The commands work when run individually, but not from makefile.

When I run `make build-back-osx`, the `$(stack path .. )` command is simply erased, and obviously it can't find the binary in the wrong path. This is what gets echoed on terminal:

[code]

[2017-02-02 14:10] NickSeagull commented on #5
@ocramz, please, could you try modifying the command in the Makefile and writing it in backticks like
[code]
?

[2017-02-02 14:12] NickSeagull commented on #8
This is because right now we are reloading the whole module eachtime we press return in the REPL

[2017-02-02 14:13] ocramz commented on #5
Yep, this works!

So this should be the recipe:

[code]

[2017-02-02 14:13] #5 closed

[2017-02-02 15:18] o1lo01ol1o opened #12 "Display instances"
Raised this in gutter yesterday and am adding some notes here.

My basic thought was that it would be great to be able to define Display instances for types in the same way as one defines Show instances.  Depending on how the architecture of HaskellDO evolves, I saw this effectively as compiling the instance to a JavaScript function (ghcjs) and embedding the js in the frontend. Some instances woul

[2017-02-02 17:51] SamuelSchlesinger commented on #7
Essentially this is the fault of the current websocket server we're using and I don't believe there is a reasonable way to stop it without changing that piece of the design.

[2017-02-02 19:57] kitfre commented on #8
With our current model, we can't support variable bindings in the console which is definitely a drawback. In general, I don't believe there is a way to reload modules into ghci while keeping the local environment. Perhaps we could store a local `.ghci_env.hs` file for a given session? [This package](http://chrisdone.com/posts/ghci-reload) also proposes a solution, but it also doesn't recommend bei

[2017-02-02 20:57] mimi1vx opened #13 "haskelldo-core: user error"
mimi@argusek ~/haskell-do/core (master) $ stack exec haskelldo-core
haskelldo-core: user error (Pattern match failure in do expression at app/Main.hs:16:3-14)

[2017-02-02 22:00] NickSeagull commented on #13
What are you trying to accomplish? @mimi1vx 😄

[2017-02-02 22:54] NickSeagull commented on #8
@KitFreddura maybe it's worth a try, who knows 😄

[2017-02-03 02:23] SamuelSchlesinger opened #14 "Websockets server needs to change"
This is the note under "runServer", which we are currently using for our only backend, in the websockets package:

Clearly this is not what we should be using and thus I'm going to begin a fix on this presently.

[2017-02-03 02:53] SamuelSchlesinger commented on #14
#15 has been born

[2017-02-03 02:55] SamuelSchlesinger commented on #7
This may be fixed after #15 is merged? If so we can close this and #14 at once!

[2017-02-03 03:05] SamuelSchlesinger commented on #13
Thank you for this report @mimi1vx. This is a poorly documented but easily discoverable behavior of core/app/Main.hs: it takes a filepath which will be the output of your HaskellDO session. This issue can be closed then? Unless someone think this behavior needs to be documented somewhere more clearly, or a proper error message issued..

[2017-02-03 03:23] o1lo01ol1o commented on #14
Just a note: jupyter runs on a zmq server; setting up a zmq server via node with a haskell took all of 30 minutes when I played with electron.  Performance will likely be better than websockets as well.

[2017-02-03 03:35] SamuelSchlesinger commented on #14
I like that @o1lo01ol1o but it doesn't seem justifiable to me if it would impose significant changes in code, as performance up to right now hasn't really not a major concern. I do think its a better design point though and should be explored now if possible or in the future. Maybe we could make a separate issue about it and keep an eye on the idea?

[2017-02-03 03:57] kitfre commented on #7
Fixed with merge of #15 !

[2017-02-03 03:58] kitfre commented on #14
Resolved with merge of #15 !

[2017-02-03 03:58] #14 closed

[2017-02-03 04:05] o1lo01ol1o opened #16 "ZMQ Backend"
This more of a post-it note, but as noted in #14, zmq offers another performant backend for message transport between server and frontend.  This use case may only be needed in oscilloscopes and the like, but, hey, oscilloscopes are cool.

[2017-02-03 04:35] kitfre commented on #8
So I worked on a branch, bug-fix/variables-in-repl, which has a fix for this. It checks if the file hasn't been modified on pressing enter in the console. If the file hasn't changed, the file keeps it's environment. If the file has changed, it needs to reload and the environment is reset. Please check it out, thanks!

Also, as a matter of style, maybe we should have the console clear on enter? It

[2017-02-03 04:43] kitfre commented on #7
This works on Windows only sometimes, half the time it exits gracefully for me, but the other half it hangs. It seems to be fixed totally on Linux and MacOS though. I've seen some issues online where processes spawned by npm on windows tend to spawn a lot of child processes.

[2017-02-03 16:09] ocramz commented on #13
@SamuelSchlesinger @NickSeagull even a default filepath would suffice, though it depends on the user's layout. Otherwise the user guide should make it clear that the user is not supposed to run `haskelldo-core` by hand

[2017-02-03 21:46] kitfre commented on #11
It could be nice to have markdown exporting as well. Or something that makes it easy to export a notebook into say a blog post.

[2017-02-04 00:37] tonyday567 commented on #3
Without having looked at the code, I would suggest that the ideal structure is:

GHCJS Events -> Haskell Core -> GHCJS Render

Busting that loopiness, and fully separating what is an action or event (a controller), from what is a view brings complexity way down.

I'm a big fan of the [mvc](https://github.com/Gabriel439/Haskell-MVC-Library) library and the general concept which @Gabriel439 blogs ab

[2017-02-04 08:07] tonyday567 commented on #11
Having a Main.lhs rather than a Main.hs would make this much easier.  Pandoc has a markdown+lhs option so rendering would then be something like:

    pandoc -i Main.lhs -o main.pdf -f markdown+lhs -t pdf

[2017-02-04 11:12] AnthonyJacob opened #17 "Text edior integration?"
Is it possible to integrate this functionality into Visual Studio Code?

[2017-02-04 12:28] NickSeagull commented on #11
Absolutely agree with @tonyday567

[2017-02-04 12:55] ocramz commented on #11
But I hope the .hs -> .lhs conversion will be handled by the IDE (this https://github.com/jeffreyrosenbluth/Literate does that)

[2017-02-04 17:32] NickSeagull commented on #3
@tonyday567 That's in fact the idea about the structure. The point that would sell a lot would be to have a framework that resembles Elm, or `purescript-pux`. Looking at the GitHub stars and the Twitter activity, lot of people that liked this project are Elm and PS people, it would help them a lot to contribute if they had something like Elm to work with. 😄

[2017-02-04 17:35] NickSeagull commented on #17
Hey @AnthonyJacob ! Thanks for opening an issue. What do you mean exactly? ^^

[2017-02-05 06:56] AnthonyJacob commented on #17
What I always hate about jupyter was the fact it was only available in the browser.

From my understanding you have built your own IDE for your project based on electron which is definitely step in the right direction.

But I am unsure what is your vision of project. Is it supposed to be an IDE or just a text editor on steroids (like atom, sublime text or visual studio code)?

In case of IDE it is

[2017-02-05 11:38] NickSeagull commented on #17
Hello @AnthonyJacob , our goal is to build a standalone IDE. Right now the features are kinda basic, but in the future there will be better ones.

I hate using Jupyter from the browser too, but by incorporating this into an existing text editor we would lose many possibilities of extending the GUI itself. 😄

[2017-02-05 12:40] NickSeagull commented on #7
Weird thing, this may be fixed with #3

[2017-02-05 15:33] SamuelSchlesinger opened #18 "Hoogle Support"
I think it would be quite nice to be able to use Hoogle for your local package database within the IDE without having access to the internet, as it would be a more realistic Hoogle database for you and it would be much more convenient than having to go to the online version and make sure the results you find are still relevant.

[2017-02-05 15:54] SamuelSchlesinger opened #19 "Generation of Code Based on Type"
I think we should make use of this module in ghc-mod and do some generation of code based on a type: https://hackage.haskell.org/package/ghc-mod-5.7.0.0/docs/Language-Haskell-GhcMod-FillSig.html. This is a really valuable tool if you structure your types right.

[2017-02-05 18:46] NickSeagull commented on #19
Would be really cool, this utility does the same thing, we could check it out 😄
https://hackage.haskell.org/package/djinn

[2017-02-06 15:11] SamuelSchlesinger commented on #19
I checked it out and it seems to have the problem that it doesn't allow for recursive types. I get this from a completeness perspective (exhaustive checking for existence of a term of that type) but it's silly from a practical perspective, as the real question you want to ask is "is there a term that can fit in my computer?"

[2017-02-06 15:35] SamuelSchlesinger commented on #11
In agreeance with @tonyday567 as well, though I like the idea of being able to write LaTeX in the editor instead of markdown, or in addition to it, if we were to use it as a backend. In this sense I disagree with your last point @ocramz unless we cover that use case as well

[2017-02-06 16:22] NickSeagull commented on #11
@SamuelSchlesinger Pandoc's markdown handles inline LaTeX so no problem with that 😄

[2017-02-07 05:32] kitfre commented on #2
I've begun work on this today! When I've finished you'll be able to edit any haskell file on your system, with or without a stack project. And no more overwriting `Main.hs` 😛

Edit: As an update, I've got it working so that whatever file you edit will not be overwritten and your work persists! Next up I'm going to begin work on allowing a user to edit any file they wish!

[2017-02-08 11:30] mimi1vx commented on #13
@NickSeagull  this https://github.com/theam/haskell-do#running-in-dev-mode

[2017-02-08 16:59] NickSeagull commented on #13
@mimi1vx that is true, we should not support that. That's the old way of running in dev mode. Gonna remove it right now. Closing this issue

[2017-02-08 16:59] #13 closed

[2017-02-10 23:39] KitFreddura opened #23 "Removing dialog on close keeps Windows from killing process"
Hey guys,

So HaskellDO exits properly now, as long as we keep that closing dialog box. But removing that dialog box causes the process to keep running after close, which is super bizarre. I've tried a bunch of things to no avail, so if anyone has any suggestions or wants to mess around with it please do!

Resolving this resolves #7

Edit: The dialog in question is in `Main.js` in `gui/dist` under

[2017-02-12 16:47] NickSeagull commented on #9
@KitFreddura, I just discovered [Shake](http://shakebuild.com/manual) a build system by @ndmitchell. We can definitely switch to it.

[2017-02-13 12:51] ocramz opened #25 "Add MathJax support for rendering inline math"
https://www.mathjax.org/

[2017-02-13 12:55] ocramz commented on #11
I'll leave this here for now: http://casual-effects.com/markdeep/ this is a javascript snippet that acts as a Markdown renderer with additional features such as MathJax (see also my #25 ), some diagramming options, and advanced formatting.

[2017-02-13 13:10] mdibaiee commented on #25
[KaTeX](https://khan.github.io/KaTeX/) is much [faster](http://www.intmath.com/cg5/katex-mathjax-comparison.php) and more efficient. It also supports server-side rendering.

[2017-02-13 13:23] NickSeagull commented on #17
Closing as it is not aligned withe project goals right now.

[2017-02-13 13:23] #17 closed

[2017-02-16 18:41] kitfre commented on #2
Closed now with merge of #24?

[2017-02-16 20:58] NickSeagull commented on #2
@KitFreddura indeed 😉

[2017-02-16 20:58] #2 closed

[2017-02-27 14:31] NickSeagull opened #27 "Package management"
It would be nice to have an easy way of managing packages like you do in R:

`install.packages("dplyr")` would install the `dplyr` package.

In our end I think that we could have a dialog that asks for which package to install from the stackage version that the project is using. Then adds it to the cabal file.

[2017-02-27 16:42] NickSeagull opened #28 "Won't load module if it is "exposed" in the cabal file"
As `stack repl` doesn't allow `:l` -ing modules that are exposed, when the module that we are working on is exposed it is not loaded.

[2017-02-27 16:42] NickSeagull opened #29 "Won't save if module has compilation errors"
Pinging @KitFreddura

[2017-02-27 16:43] NickSeagull commented on #28
Misclicked, sorry 😛

[2017-02-27 16:55] NickSeagull opened #30 "Not able to use repl when using external packages"
I started working on a Kaggle problem with HaskellDO, but I wasn't able to get my code to compile (it is attached).

I've also attached the cabal and stack YAML files.

# Lib.hs

[code]

# Cabal file

[code]

# Stack.yaml

[code]

[2017-02-28 22:00] kitfre commented on #30
So I've modified HaskellDO to output error messages into the console and identified the error. Here's a paste of running HaskellDO on the input files you provided.

[code]
This should be a quick fix, it's just a matter of ensuring that HaskellDO spawns in the right place, I'm on it! 👍

Edit: For clarification, the bug here is not the repl not working with external libraries, but that we simply spa

[2017-03-01 04:06] kitfre commented on #29
In the process of fixing right now, I've rigged the console to output error messages when they occur and am in the process of isolating this issue.

[2017-03-08 00:29] kitfre commented on #30
Closed with #31, and #29 as well?

[2017-03-08 08:39] NickSeagull commented on #29
Fixed!

[2017-03-08 08:39] #29 closed

[2017-03-08 08:39] NickSeagull commented on #30
Fixed!

[2017-03-08 08:39] #30 closed

[2017-03-09 09:30] NickSeagull opened #32 "Backend freezes when spamming the Save button"

[2017-03-10 12:53] NickSeagull opened #33 "Provide a way for users to have a precompiled version of the front"
This would be addressed with #3 but just to have this as a reminder.

[2017-03-15 07:09] jluttine opened #35 "make build-all-linux fails"
I'm still new to Haskell and Stack. I just tried to install this package following the instructions, but I got an error on `make build-all-linux`:

[code]

I tried `stack setup`:
[code]

But I still get the original error after this. Any ideas what to do? I'm a bit lost here..

[2017-03-15 14:45] vlastachu commented on #35
[code]
just guess

[2017-03-15 16:56] SamuelSchlesinger commented on #35
Try what @vlastachu said and if it doesn't work let us know please. If you haven't already, you should run "make deps"

[2017-03-15 17:48] vlastachu commented on #35
@SamuelSchlesinger  Btw I don't see `stack setup` in Makefile. How stack ghc should be installed?

[2017-03-15 18:55] jluttine commented on #35
Thanks @vlastachu, that solved the issue!

[2017-03-15 18:55] #35 closed

[2017-03-15 19:10] jluttine opened #36 "Console not working / empty"
No idea if I'm just doing something wrong here but the console panel is just empty grey rectangle with nothing in it. I can click a mouse at the top of it to get an input text field there and I can write text there but nothing happens, no matter how many times I press Enter. In the README instructions, there's at least `>` symbol visible but I don't have even that. Any ideas?

[2017-03-15 20:05] kitfre commented on #36
The `>` not being there when you open the console for the first time is okay, I got rid of that as it was causing an error in the console but I'll put it back soon!

As per the rest of the issue, can you give me some details as to how you're launching HaskellDO? I.e what are you trying to edit, is it a new file or an old one, etc? Thanks!

[2017-03-15 20:18] SamuelSchlesinger commented on #35
Not sure @vlastachu, intuitively I'd think it would be a part of "make deps"... @NickSeagull @KitFreddura

[2017-03-15 23:03] NickSeagull commented on #36
Exactly, I think that we should send a "Save" message automatically when toggling it. Also another thing that might happen @jluttine is that you've never run `stack repl` inside the project you've created. HaskellDO has some issues right now for managing the part of the build when `stack` download dependencies

[2017-03-15 23:04] NickSeagull commented on #35
Gonna add this to the Makefile

[2017-03-16 02:49] SamuelSchlesinger commented on #16
Is this something we should now look into after having problems with the attempt to use Servant? @KitFreddura @NickSeagull

[2017-03-16 02:50] SamuelSchlesinger opened #38 "Vim Keybindings"
I would love it if the vim keybindings were available as at least an option

[2017-03-16 07:14] jluttine commented on #36
I'm just trying to follow the steps in https://github.com/theam/haskell-do#usage

After `make build-all-linux`, I created a new project `stack new my_project` to another directory location. Then, I came back to haskell-do directory and ran `make run` at the root of that directory. The guide says: `Navigate to the root of the project you just created and open that folder.` But I wasn't able to open

[2017-03-17 02:28] kitfre commented on #36
Hmm okay. There has been an update to HaskellDO so know you can edit any file, not just a stack project so I'll update the README accordingly. Can you try running `stack build` in the project and then try launching HaskellDO again? If that doesn't work, please let me know and I'll look around and see what could be causing your issues.

[2017-03-17 08:21] jluttine commented on #36
I updated my haskell-do repo and re-ran the installation steps. I also ran `stack build` under my project root directory. Still not working. Some details:

The instructions say:

But there's no Makefile in my project.. I created my project as `stack new your_project_name` (not under haskell-do directory, but elsewhere) as told in the instructions and it doesn't create any Makefile there.

So I'm r

[2017-03-17 09:08] NickSeagull commented on #36
You're absolutely right @jluttine, the README explains itself poorly.
You are right when you open Haskell do with make run.

After that open src/Lib.hs instead of Setup.hs, tell me how it goes.

Thanks for your feedback, youre awesome 😉

[2017-03-17 09:13] jluttine commented on #36
Ok, thanks! I opened src/Lib.hs (under my project directory) but still the same issues.

[2017-03-17 09:16] NickSeagull commented on #36
Could you try running `stack build` from the root of your project and tryig again @jluttine?

[2017-03-17 09:18] jluttine commented on #36
I did run it already before trying. Here's the output I got then:
[code]

(I had to run `touch README.md` before that, otherwise `stack build` failed.)

[2017-03-17 09:20] jluttine commented on #36
Just FYI, I'm new to Haskell so I don't really know very well what I'm doing and I may have missed something that should be very obvious for any haskeller.

[2017-03-17 11:32] jluttine commented on #36
For completeness, here are the exact steps to reproduce the issue:

[code]

Now open `/tmp/project/src/Lib.hs` and at least I can see the issues I've described:

- No content shown for the file although it really has content

- Console panel is empty and doesn't do anything. I can only activate an input text field at the top and write some text there but nothing else happens no matter what I've tr

[2017-03-17 13:40] NickSeagull commented on #36
Thanks for detailing that much. It absolutely okay that you are not that familiar with Haskell. As the target audience of Haskell Do is not just Haskell users but also Data Scientists.

There is a bug, where sometimes, when closing Haskell Do, the core is still left running. Could you check if there's a process called haskelldo-core something and kill it?

When that happens, the issues that appear

[2017-03-17 13:48] jluttine commented on #36
Didn't seem to be running:
[code]
But still the same issues

[2017-03-17 16:26] NickSeagull commented on #36
Try `grep haskell-do`

[2017-03-17 17:12] jluttine commented on #36
Just plain `haskell`:
[code]
And still the issues.

Anyone else able to reproduce the issue with the steps I gave?

[2017-03-17 17:14] NickSeagull commented on #36
I'm on Windows right now, as I'm on my laptop travelling. Will try as soon as I get home to do so on Linux

[2017-03-17 17:30] NickSeagull commented on #16
Remember that we are going to drop PS in favor of GHCJS, also. ZMQ does not have browser connectors AFAIK @SamuelSchlesinger

[2017-03-17 19:04] meownoid opened #39 "Can't open folder on start"
When starting, file choosing dialog appears, but I'm able to choose only `.hs` files, not folders. Tried on latest version from git.
![screenshot_20170317_220215](https://cloud.githubusercontent.com/assets/20129246/24058861/ba250a42-0b5d-11e7-8c91-d2da56677dc4.png)

[2017-03-17 19:06] NickSeagull commented on #39
Yes, we have to change that in the README, #36 mentions this too.

Open `src/Lib.hs`

Thanks for reporting the issue! 😄

[2017-03-17 19:08] kitfre commented on #39
There has been an update to HaskellDO. In the original release you could only edit `Main.hs`,so we just had you select a folder. Now you can edit any Haskell file on your system so we've switched to selecting files. We will update the README to clear up the confusion, thanks!

[2017-03-17 19:46] meownoid opened #40 "REPL is not working"
There is just nothing. Also, there is no any useful output in terminal about the problem. Tried on latest version from git.

![screenshot_20170317_224425](https://cloud.githubusercontent.com/assets/20129246/24060217/45ba45ea-0b63-11e7-8beb-a8a71f680f4d.png)

[2017-03-17 19:49] meownoid commented on #40
There are a lot of errors in developer console though:
[code]
And the first one:
[code]

[2017-03-17 19:51] NickSeagull commented on #40
Can you try to run `stack build` first in the root of your project and then try to use the console?

Also, try to see if there is a process called `haskelldo-core...` and kill it.

Thanks!

[2017-03-17 19:59] meownoid commented on #40
1. `stack build` didn't help.
2. There is no a `haskelldo-core` named process.

[2017-03-18 00:55] NickSeagull commented on #40
I've looked into this, looks like they are the same reasons as #36 .

I can reproduce this

[2017-03-30 12:56] #9 closed

[2017-04-05 08:10] NickSeagull commented on #39
The README is updated now, so this should be closed

[2017-04-05 08:10] #39 closed

[2017-04-05 08:11] NickSeagull commented on #36
@jluttine this should be fixed by now, the README is updated and Haskell.do should work fine when opened at least twice. Could you try now? Thanks! 😄

[2017-04-05 08:13] NickSeagull commented on #23
This is fixed now.

[2017-04-05 08:13] #23 closed

[2017-04-05 08:15] J2RGEZ opened #45 "Backend doesn't spawn on first opening"
It seems like the backend can't spawn when I reboot my laptop and pc on first opening (ubuntu 16.04 and windows 10). The web socket is right the first time I execute the app but it doesn't show in haskell-do.

[2017-04-05 18:48] jluttine commented on #36
Yep. Seems to work now. Thanks! And btw, I like how the console evaluates only one expression and "resets" after every evaluated expression. 👍

[2017-04-05 18:48] #36 closed

[2017-06-06 12:47] NickSeagull commented on #45
Irrelevant with new version, closing

[2017-06-06 12:47] #45 closed

[2017-06-06 12:48] NickSeagull commented on #40
Irrelevant with new version, closing

[2017-06-06 12:48] #40 closed

[2017-06-06 12:48] NickSeagull commented on #33
Irrelevant with new version, closing

[2017-06-06 12:48] #33 closed

[2017-06-06 12:48] NickSeagull commented on #32
Irrelevant with new version, closing

[2017-06-06 12:48] #32 closed

[2017-06-06 12:48] NickSeagull commented on #28
Irrelevant with new version, closing

[2017-06-06 12:48] #28 closed

[2017-06-06 12:50] NickSeagull commented on #27
The new version allows doing this, closing

[2017-06-06 12:50] #27 closed

[2017-06-06 12:51] NickSeagull commented on #16
We now use Transient, which does all transport and serialization transparently, closing this :)

[2017-06-06 12:51] #16 closed

[2017-06-06 12:52] NickSeagull commented on #12
Now Haskell.do allows rendering HTML/JS without any special stuff just `putStrLn "String that contains HTML and JS"` and it's done

[2017-06-06 12:52] NickSeagull commented on #8
Irrelevant with new version, closing

[2017-06-06 12:52] #8 closed

[2017-06-06 12:53] NickSeagull commented on #7
Irrelevant with new version, closing

[2017-06-06 12:53] #7 closed

[2017-06-06 12:53] NickSeagull commented on #6
Irrelevant with new version, closing

[2017-06-06 12:53] #6 closed

[2017-06-06 12:53] NickSeagull commented on #4
Done in new version, closing 😄

[2017-06-06 12:53] #4 closed

[2017-06-06 12:53] NickSeagull commented on #3
Done! Closing

[2017-06-06 12:53] #3 closed

[2017-06-06 12:53] NickSeagull commented on #1
Irrelevant with new version, closing

[2017-06-06 12:53] #1 closed

[2017-06-06 16:11] exallium opened #57 "Build.hs file should utilize global stack values where possible"
`client-stack.yaml` is hardcoded in line 56 and should instead append in the global value `clientStackYaml` instead.

This will make any changes involving the name of this file easier and help reduce possible future regressions.  It also is a best practice and helps maintain consistency throughout the file.

[2017-06-06 16:20] NickSeagull commented on #57
Thanks for noticing, just updated it!

[2017-06-06 16:20] #57 closed

[2017-06-06 19:23] NickSeagull opened #59 "File explorer for "Open project""
It would be nice to have a file explorer instead of that ugly text input we have 😄

[2017-06-07 06:19] mdibaiee opened #60 "stack path is hardcoded to be /usr/local/bin/stack"
Hey,

I could not create a new Haskell.DO project, and by reading logs I found out that `stack` is assumed to be in `/usr/local/bin/stack`, while mine is somewhere else.

Steps to reproduce:

1. Install stack anywhere except `/usr/local/bin`, e.g. `~/.local/bin`
2. Start haskell-do
3. Try to create a new project
4. It will fail silently (on the client-side) and print out a long indicating the comm

[2017-06-07 06:45] mdibaiee opened #61 "Add required steps for installing GHCJS to documentation"
Hi,

This line was required on my machine to install the correct GHCJS version, yet it doesn't appear in the documentation, I'm opening this issue to make sure this is actually the case and not a mistake on my part. :grin:

```stack setup --stack-yaml client-stack.yaml```

[2017-06-07 09:05] NickSeagull commented on #60
Nice, thanks Mahdi! 😄

[2017-06-07 09:06] mdibaiee commented on #59
@NickSeagull after some search, it seems there is only a non-standard way of having a "directory" input, and that is by using `webkitdirectory` attribute ([supported by Chrome, Firefox, Safari and Microsoft Edge](https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/webkitdirectory)), seems to be our best shot, if you agree on using this, I can work on this :+1: :grin:

[2017-06-07 09:09] NickSeagull commented on #61
Fixed, thanks!

[2017-06-07 09:09] #61 closed

[2017-06-07 12:24] NickSeagull commented on #59
I was checking it out, the problem that I ser there is that it just gives us the relative path, starting from the directory that the user selected. We need the absolute one. What about getting a tree using `System.Directory` and then just showing it?

[2017-06-07 12:34] mdibaiee commented on #59
@NickSeagull woops, even worse, I just found out it doesn't work on empty directories, definitely not an option anymore. So yeah, I guess fetching the tree from server-side makes sense, can I start working on it? :grin:

[2017-06-07 12:37] NickSeagull commented on #59
Of course! Thank you!!

[2017-06-07 19:28] NickSeagull commented on #60
I guess this can be closed now! 😄

[2017-06-07 20:57] #60 closed

[2017-06-07 23:23] NickSeagull opened #64 "Make build file copy `static` folder to localtion of binary"
If not, when executing from source, the user will get a 404

[2017-06-08 09:26] NickSeagull commented on #64
Done

[2017-06-08 09:26] #64 closed

[2017-06-08 09:27] NickSeagull opened #65 "App freezes if project settings clicked before opening project"

[2017-06-08 09:30] NickSeagull opened #66 "Better project settings editor"
Instead of having an ugly text editor, we could have keys and values, where the values are dropdowns or text inputs.

For dependencies we could even search on Stackage and autocomplete, on other fields we
could autocomplete with existing values (like default extensions).

Would be cool if it looked like ![this](http://ugp01.c-ij.com/ij/webmanual/ScanUtility/W/LiDE%20220/1.1/EN/SU/screens/su031.gif

[2017-06-09 08:16] mdibaiee commented on #65
@NickSeagull in fact, app freezes whenever an error happens throughout the application, e.g. `openFile: permission denied` or anything else. Ideally the errors should be caught and handled somehow.

[2017-06-09 08:39] NickSeagull opened #68 "Use weeder and HLint to find static issues"

[2017-06-09 08:40] NickSeagull opened #69 "Add a test suite"
Right now we have no tests, which is awful 😓

We should have a test suite that runs on TravisCI (already setup)

[2017-06-09 08:47] NickSeagull opened #70 "Make TravisCI run HPC"

[2017-06-09 08:50] NickSeagull opened #71 "Make a Dockerfile for the app"
It would be awesome to be able to have haskell.do in a docker container so a user could isolate all their environment.

[2017-06-09 09:05] NickSeagull opened #72 "Automatic build generation"
Right now we have to go through the process of:

[code]

Repeat that process for OSX and Linux, and after that, zip and upload to Github releases.

It would be nice to automate this 😄

[2017-06-09 09:12] mdibaiee commented on #72
@NickSeagull I could add a section to `Build.hs`, named something like `package` which would do this, hmm?

Edit: why the `rm -rf`?

[2017-06-09 13:41] NickSeagull opened #74 "Windows support"

[2017-06-09 13:42] NickSeagull opened #75 "Git commit on save"
It would be nice to have a save button that automatically `git commit` s the latest changes with the date as the commit message

[2017-06-09 13:44] NickSeagull opened #76 "Refactor Toolbar into smaller components"

[2017-06-09 13:45] NickSeagull opened #77 "Rename SimpleMDE into CodeMirror"
We are not using SimpleMDE since a lot, so we should rename it.

[2017-06-09 14:54] NickSeagull opened #78 "When clicking on project settings, server crashes"
Looks like the path is being written incorrectly:

<img width="1053" alt="captura de pantalla 2017-06-09 a las 16 53 49" src="https://user-images.githubusercontent.com/7448243/26981049-4c8abedc-4d34-11e7-81fe-a7055a73c38e.png">

Pinging @mdibaiee

[2017-06-09 15:02] mdibaiee commented on #78
@NickSeagull Are you sure you are on the latest commit? I guess this was addressed in https://github.com/theam/haskell-do/commit/f5c77bc1cda381790087f56f38f93e2bab33050f, otherwise let me know and I'll see (I couldn't find anything by skimming through the code :grin:)

[2017-06-09 15:03] mdibaiee commented on #72
@NickSeagull I guess this can be closed now :+1:

[2017-06-09 15:09] NickSeagull commented on #78
False alarm @mdibaiee had to remove `.stack-work` and rebuild lol

[2017-06-09 15:09] #78 closed

[2017-06-09 15:26] NickSeagull commented on #72
Uhmmm, this might sound crazy, but I just got the idea of generating the build based on the version number through TravisCI for OSX and Linux and Appveyor for Windows.

It's not high priority at the moment, but it would be nice to have. So I'll leave it open :)

[2017-06-09 16:43] mdibaiee commented on #75
Um, just trying to look from another perspective here: why would we want to do that? I mean, personally I wouldn't want something like that, even if so, I would like to set the message myself 🤔

[2017-06-09 17:36] NickSeagull commented on #75
Yeah, maybe the date would be just a placeholder, but take into account that right now the user cannot save their state as the file gets overwrited everytime they press a key.

[2017-06-09 18:06] mdibaiee commented on #75
@NickSeagull oops, writing to file on every keypress sounds bad indeed, but a save functionality does not necessarily have to run a `git commit`, I save my code many times before it gets into a shape that becomes _commitable_, why not have both as separate functionalities?

[2017-06-09 18:08] mdibaiee commented on #59
@NickSeagull guess this one's done now, can close :grin: :+1:

[2017-06-09 19:01] NickSeagull commented on #59
Yep! Thanks 😄

[2017-06-09 19:01] #59 closed

[2017-06-09 21:15] NickSeagull opened #79 "Remove the "connection closed" message"
This is fairly straightforward by changing the call to `simpleWebApp` in `Ulmus.hs` for something like:

[code]

[2017-06-09 22:36] vertexcite opened #80 "Trailing character of new project truncated"
The path for a new project must end with a trailing slash.
If not, the last character is truncated for what actually happens on the filesystem, but the UI tries the non-truncated name and says it can't find the project.

[2017-06-09 22:58] NickSeagull opened #81 "Retroaliment the core with input from the rendering display"
This is a very interesting feature that is awesome to have. In Jupyter, one can use the `interact` function to generate widgets as sliders, checkboxes, textboxes and dropdowns. These are quite cool because we can create a "Display input" typeclass, to map each input to a type:
[code]

How this would work?

I had an interesting talk with Simon Thompson, and this idea came out:

We setup a websocket

[2017-06-10 05:36] NickSeagull commented on #80
Pinging @mdibaiee :)

[2017-06-10 05:38] NickSeagull commented on #81
After proposing this, I think it it more flexible for us to use just normal functions/typeclasses, because, it is more extensible in the end. Maybe there could be something like a "cleanup" button?

[2017-06-10 07:40] NickSeagull opened #82 "Plotly doesn't render correctly"
As @vertexcite noted, when writing the following code in haskell.do, one should get a correct plotly render when writing:

[code]

But nothing happens

[2017-06-10 09:54] NickSeagull opened #83 "Render flashes when pressing a key"
I suspect that this happens because we are updating all the widgets, what do you think @mdibaiee ?

[2017-06-10 12:15] mdibaiee commented on #83
@NickSeagull yeah, I had noticed that, everytime any action is triggered, everything in `updateDisplays` is re-rendered.

An idea just hit me: what if we pass the old, and the new state to `updateDisplays`, and the functions inside check whether they should actually trigger a re-render for a specific view? It's a little dirty still, but can be a ground for better ideas :grin:, let me know what you

[2017-06-10 12:19] mdibaiee commented on #80
@vertexcite could you please paste haskell-do's logs? :grin:
also see if #78 is relevant to your issue (try removing `.stack-work` and re-building with the latest version)

[2017-06-10 12:32] NickSeagull commented on #83
I was talking to @pkapustin at Zurihac about this issue and maybe we could implement a VirtualDOM like Elm does within `Ulmus.hs`, what do you think @mdibaiee ? It might even make everything easier, so no need to have the overhead of "what do I have to update?"

[2017-06-10 12:34] mdibaiee commented on #83
@NickSeagull yep, of course, that's a good solution, though might be a little tricky :+1: :grin:

[2017-06-10 12:46] mdibaiee commented on #79
@NickSeagull do you mean this?
[code]

I tried the snippet you said, it hides the `end, log, ps` message, but the CloseRequest message still works, and errors are also still reported.

[2017-06-10 12:46] NickSeagull commented on #80
@mdibaiee two users at Zurihac tried to do the same and it happened too to them D:

[2017-06-10 12:47] NickSeagull opened #84 "Implement a VirtualDOM for handling Widgets easily"
It might be much easier to write the view if we work with a VirtualDOM, rather with manual updates on the Widgets

[2017-06-10 12:48] NickSeagull commented on #79
Oh so maybe we have to wait until the new version of Transient arrives, but maybe it is good to hide the `end log ps` message too! If you have it somewhere, submit a PR please! @mdibaiee

[2017-06-10 13:00] mdibaiee commented on #79
Yep: #85

[2017-06-10 13:08] ddrone opened #86 "Implement a button to hide text editor in web interface"
Subject.

Can be useful for looking at the finished document potentially supporting a workflow with using external editor instead of builtin one.

[2017-06-10 13:15] NickSeagull commented on #86
Absolutely, it would be a matter of adding another `Widget` to the `Toolbar.View` module. Take into account that you have to make a "placeholder" div in the `view` function.

Right now it has to be done this way, because events are handling somewhat manually. If we manage to solve #84 in the future, the development would be a bliss. 😄

[2017-06-10 13:26] NickSeagull commented on #72
I think I'll be working on this right now, seems the most important/easier thing right now.

[2017-06-10 15:37] o1lo01ol1o commented on #81
I think typeclasses are the way to go, allowing users to extend the class with their own instance (potentially using one of the reactive frameworks like react flux) is way preferable to generic inputs.

(This would also make haskell-do an interactive visualization development environment: you could potentially take a haskell-do project and stick it onto an existing endpoint on some server and have

[2017-06-10 15:46] NickSeagull commented on #81
Because that would require the user to have GHCJS installed, and definitely, that is not an option in my opinion. @o1lo01ol1o

[2017-06-10 16:15] o1lo01ol1o commented on #81
Ah right.  Is that because of windows support?

[2017-06-10 16:22] o1lo01ol1o commented on #81
Ah right, somehow I thought js was being compiled on the fly.

[2017-06-10 22:03] NickSeagull commented on #82
I've tracked the bug, and what happens, is that when we add `<script>` tags they don't get executed, so the Plotly JS file is not include, nor the script generated by plotlyhs is executed.

@mdibaiee you have way more experience than I do in JS, do you have any idea?

[2017-06-11 05:02] mdibaiee commented on #82
@NickSeagull ah yeah, sadly setting `innerHTML` of a `div` element, which would then include script/css tags doesn't work as expected, script tags should either be appended using JavaScript (`document.head.appendChild(document.createElement('script'))`), or we should probably use an iframe, I'll make a PR :+1:

[2017-06-11 07:38] NickSeagull opened #89 "Retrieve data from Browser Storage"
This is related to #81 , with these widgets we could save the data into the browser storage, and then retrieve it for later use in other applications.

@codiepp suggested this feature.

[2017-06-11 09:15] #77 closed

[2017-06-11 11:12] Shimuuar opened #92 "Formatting of error messages is lost"
GHC produces nicely formatted error messages but in error messages displayed to user all newlines are stripped

[2017-06-11 11:17] Shimuuar opened #93 "Compile error message does not disappear after successful compile"
1. Try to run code which generates compile error. Red message with compile error appears
2. Fix compile error. Compile error message stays

[2017-06-11 11:24] Shimuuar opened #94 "No defaulting rules for polymorphic types"
1. Try to evaluate block `10`
2. It will fail with error about ambiguous type `a0`.

Reason for that is clear. GHC needs to select `AskInliterate` instance for literal 10 but have no way to do so. I think this is something that couldn't be solved without compiler help.

[2017-06-11 11:35] NickSeagull commented on #94
Yes, the `eval` block should be `show 10`, or rather it won't work

[2017-06-11 11:37] Shimuuar opened #95 "Missing instance for askLiterate"
Not all common data types have `AskInliterate` instances. Non-exhaustive list

 - `()`
 - 'Integer`
 - `Maybe a`
 - `[a]`

This makes it impossible to run cells returning these types without wrapping them into `show`

[2017-06-11 11:37] NickSeagull commented on #95
Yes, this is a problem of the `inliterate` library that we are using 😄

[2017-06-11 11:45] Shimuuar opened #96 "Error message is displayed in the bottom of the page"
If notebook does not fit on single screen it's effectively invisible

[2017-06-11 11:58] NickSeagull commented on #82
Fixed! Closing

[2017-06-11 11:58] #82 closed

[2017-06-11 15:30] ocramz commented on #95
Paging @glutamate ^^

[2017-06-12 18:58] NickSeagull commented on #86
Closing! Thanks :)

[2017-06-12 18:58] #86 closed

[2017-06-13 08:15] mdibaiee commented on #92
@NickSeagull will take a look into this :+1:

[2017-06-13 08:45] mdibaiee commented on #96
@NickSeagull agreed, should we move the error to top?

[2017-06-13 20:11] NickSeagull commented on #83
Solved with a hotfix

[2017-06-13 20:11] #83 closed

[2017-06-13 20:12] NickSeagull commented on #96
Solved, closing! :D

[2017-06-13 20:12] #96 closed

[2017-06-13 20:12] NickSeagull commented on #92
Solved, closing!

[2017-06-13 20:12] #92 closed

[2017-06-14 02:54] mdibaiee commented on #89
@NickSeagull so we essentially want an API to interact with the localStorage, right? Can work on this 🤔

[2017-06-14 11:19] NickSeagull commented on #89
I'm not really sure how this would work, I suppose this would be a render-side API @mdibaiee

[2017-06-17 04:19] mdibaiee commented on #80
@NickSeagull: solved in #99 :grin: :+1:

[2017-06-17 04:21] mdibaiee opened #100 "Allow creating a new directory in file explorer and using current folders"
Currently, it's not possible to create a new project in an already created folder, so the file explorer does not come as handy when it comes to creating a new project, they still have to write the path in the input.

I say we should have a button to create directories, and also, probably, use `stack new --bare` to create the project inside empty directories, or maybe we should also allow it in non

[2017-06-17 18:17] NickSeagull commented on #100
Yes, it is not that handy.

Two persons had the button idea at the Zurihac too, which means that it is the good way to follow.

Also, it is not possible to transform regular haskell project into haskell.do projects right now, at least not automatically. It involves adding dependencies to the `stack.yaml`, making the project use `hpack`, adding dependencies to `package.yaml` and some more stuff, so

[2017-06-17 18:27] mdibaiee commented on #100
@NickSeagull alright, I will work on the button and empty folder part in the following days, will let you know :grin:

[2017-06-17 19:18] NickSeagull commented on #100
Thanks @mdibaiee 🙏

[2017-06-18 10:40] NickSeagull commented on #80
Closing!

[2017-06-18 10:40] #80 closed

[2017-06-18 10:40] NickSeagull commented on #93
Solved in last release, closing!

[2017-06-18 10:40] #93 closed

[2017-06-18 14:40] mdibaiee commented on #100
@NickSeagull alright so I was working on this, got the buttons and stuff ready, but about the input we want to show and prompt for the folder name, I thought we would want a prompt dialog, what do you think? And if so, how would we go about it's state and stuff?

[2017-06-18 19:12] NickSeagull commented on #100
@mdibaiee yeah a prompt dialog would be great! About the state, hmm, we can just make a `projectName :: String` field in either `Toolbar.State` or `Compilation.State`

[2017-06-19 01:53] vertexcite opened #101 "File explorer tries to open project even when path doesn't exist"
If I have an existing project in a folder, and I try to create a new project as a sibling with a name that starts with the name of the existing project, the file explorer treats the new path as if it were an existing project.
e.g. in `/home/me/projects/` there is a `project1` project.
Open file explorer, navigate to `projects` start typing `project1a` (i.e. aiming so that path is `/home/me/project

[2017-06-19 09:11] mdibaiee commented on #100
Solved in #102

[2017-06-19 09:11] #100 closed

[2017-06-19 13:18] mdibaiee opened #103 "Plotly doesn't update after re-compiling"
I just tried a simple plotly example, and after changing the code and re-compiling, the output plot does not change, I guess it's related to the JavaScript code being executed somehow, will take a look.

[2017-06-19 14:21] NickSeagull commented on #103
Somehow, I cannot reproduce this, what are the steps that are you following?

[2017-06-19 15:19] mdibaiee commented on #103
@NickSeagull
1. Clone this repository: https://github.com/mdibaiee/haskelldo-issue-103
2. Build and run the code
3. Change one of the points in either `sp` or `l`
4. Run again
5. The plot does not change

[2017-06-22 17:54] NickSeagull opened #104 "Have a way of toggling the error box"
Right now, it is, well, um, unusable:

![image](https://user-images.githubusercontent.com/7448243/27448286-32f2f622-577c-11e7-98b6-44a783eeff68.png)

Maybe it would be good to have another button on the toolbar.

[2017-06-24 04:52] mdibaiee commented on #103
@NickSeagull I re-tried this, it seems to work if I compile a second time, and I'm a little suspicious of the highlighting code, would mind to explain how it works? When is `updateDisplays` triggered and when is the code re-highlighted? :grin:

https://github.com/theam/haskell-do/blob/master/src/common/HaskellDo/Compilation/View.hs#L43

[2017-06-24 09:54] NickSeagull commented on #103
Yes, it looks like it is there, I might have introduced a bug 😅
Basically, it gets a variable from the JS side called `alreadyHighlighted`. This flag is set to `true` after each highlighting, and set to `false` with each compilation.

The problem is in [line 46](https://github.com/theam/haskell-do/blob/master/src/common/HaskellDo/Compilation/View.hs#L46) we render the `outputDisplay`, if not, we d

[2017-06-24 10:50] mdibaiee commented on #103
@NickSeagull I see, seems like it means "already compiled" rather than "already highlighted" really, and I guess we do need that state, but why in the JavaScript? Can't we achieve the same thing by having a key in our state? :grin:

[2017-06-24 13:19] NickSeagull commented on #103
Umm, probably, it's just that it was _really-ultra-quick-rapid-hotfix_ that I did because a lot of people were complaining 😅

[2017-06-24 13:20] mdibaiee commented on #103
@NickSeagull :joy: I will see what I can do :grin:

[2017-06-24 13:21] NickSeagull commented on #103
Great, thanks! :D

[2017-06-24 13:24] unhammer opened #105 "document that "static" needs to be in PATH as well"
The main page says to just `2. Download and put haskell.do in your path`, so I downloaded, unzipped, and did `mv haskell-do ~/bin`, but on typing `$ haskell-do` and opening `localhost:3001`  I just saw a blank page, no error messages anywhere. So I gave up for a couple releases, tried again now and got the same thing. Then on a whim I did `unzip -l` and noticed the `static` dir, and tried moving t

[2017-06-24 13:28] NickSeagull commented on #105
Thanks for reporting this issue!

Yes, indeed, it should be better documented. What you propose with the paths is another possibility, and could be done, but it is sure that it might be less straightforward than documenting 😄

[2017-06-30 15:24] mdibaiee commented on #103
@NickSeagull addressed in #106

[2017-07-11 17:00] #103 closed

[2017-07-25 23:23] Tshimanga opened #107 "Warnings"
Just found the project and had a dizzying torrent of warnings about redundancies, unused imports, and non -exhaustive patterns. Is this normal?

[2017-07-25 23:24] #107 closed

[2017-07-27 15:04] mdibaiee commented on #104
@NickSeagull after the discussion on Gitter, do you think we could set a max-height of 10 - 50 percent of the height, and as we already leave some space at the bottom of the page, it should be OK, but we can also have a way of toggling it, would like to hear your thoughts, then I will work on it :grin:

[2017-07-27 15:07] NickSeagull commented on #104
Yeah, sounds great! 😁 40% sounds cool

[2017-07-30 17:18] NickSeagull opened #109 "Port GUI to Miso"
Some time ago I discovered that @dmjio released [Miso](https://haskell-miso.org/), a great GUI framework based on Elm.

Right now we are relying on our `Ulmus` module, that emulates the Elm architecture. There are some weird bugs with widgets not rendering properly, and also, talking about widgets, we have to explicitly thread them in a weird way, so its also not that straightforward. Maybe rewrit

[2017-07-30 17:18] NickSeagull commented on #109
Pinging @mdibaiee , what do you think about this? I might start working in the adapter.

[2017-07-30 19:12] NickSeagull opened #110 "Detect if R is installed and if so, pass it to the build"
With the `inline-r` package, one can write R code using oxford brackets like so:

[code]

The only requirement is to pass the R binaries and include directories to `stack build` by using the `stack` command line options `--extra-lib-dirs` and `--extra-include-dirs`.

We could check if the user has the `R_LIB_DIR` and `R_INCLUDE_DIR` set and if `R` is in the `PATH`. If this is true, another build c

[2017-07-30 19:40] NickSeagull opened #111 "Autosave each X seconds and compile, not on each keypress"
We're autosaving on each keypress, making the file to be accessed too many times, exhausting it and making the performance much worse.

[2017-07-30 20:10] mdibaiee commented on #109
@NickSeagull this is definitely cool! :+1: I personally am in favor of switching to an already developed and tested framework like Miso. Let me know of your progress and anywhere I might be able to help

Would also help with: #84

---
Now with this going in progress, should I wait for it to finish before fixing #104 or should I proceed? If you think it's going to take a long time, then we'd better

[2017-07-30 20:12] dmjio commented on #109
@NickSeagull, @mdibaiee, extremely excited about this effort, would love to be of help in any way.

[2017-07-30 20:39] NickSeagull commented on #109
Definitely #104 is worth fixing @mdibaiee , its quite annoying for newcomers and for current users too (I have to fix the error using another editor and then come back)

[2017-08-03 12:39] NickSeagull commented on #110
Not necessary as `stack` checks standard lib dirs and includes, also in case that the user wants it, they just can add it to `stack.yaml`. Closing

[2017-08-03 12:39] #110 closed

[2017-08-05 02:17] vertexcite opened #113 "Handle long-running computation use case"
If a computation will run for a long time, it would be good to be able to disconnect the browser, and reconnect later, and see any output produced during that time (Similar issue for Jupyter see https://github.com/jupyter/notebook/issues/1647 ).

This is especially applicable if you are running the server on a separate computer (e.g. cloud host with GPU), and you don't want to have to keep the cli

[2017-08-05 09:15] NickSeagull commented on #113
Great, thanks for the idea!

[2017-08-08 09:39] mdibaiee commented on #111
@NickSeagull I would suggest instead of saving on intervals of time, we save with a [`debounce`](https://lodash.com/docs/4.17.4#debounce) on keypress.
So that would be triggered whenever the user stops writing code, then it makes sense to save and is safe. What do you think?

I can work on it once we reach a consensus :grin:

[2017-08-08 17:09] NickSeagull commented on #111
Sounds great!

[2017-08-08 19:14] mdibaiee commented on #111
@NickSeagull: I was working on this and noticed that the `State` types derive `Show` and `Read`, is it really necessary? Because for this `debounce`, I have to save a debounced action somewhere to call it every time which has type `IO (IO ())`, any suggestions?

[2017-08-08 22:34] NickSeagull commented on #111
Hmmm, `transient` uses `Show` and `Read` for it's internal transport stuff. I was thinking about using `setRState` and `getRState` which are basically mutable references. [docs](https://hackage.haskell.org/package/transient-0.5.9.1/docs/Transient-Base.html#v:getRState)

[2017-08-09 05:09] mdibaiee commented on #111
@NickSeagull: You are right, `Show` and `Read` are necessary.

I tried using `setRState` and `getRState` but it seems their value is not shared among different requests made to `update`, so everytime I call `getRState` again, I get an empty value.

We need a way to share a value between calls to `update` so we can know that there has already been a request and a write action should not be triggere

[2017-08-13 15:07] NickSeagull commented on #111
(Copying from gitter)
I think that debounce is good, but for simplicity sake I think it is better to just add a `lastSaveTime` field to the editor's `State` and on each keypress do
[code]
It's much easier and less time consuming 😁

[2017-08-13 15:27] mdibaiee commented on #111
@NickSeagull hmm, but this way, if a user types something within the interval, only his first keystroke will be saved and no more 🤔

[2017-08-13 15:31] NickSeagull commented on #111
Theorically, with each keystroke, [the content of the editor is retrieved](https://github.com/theam/haskell-do/blob/master/src/common/HaskellDo/CodeMirror/View.hs#L40)

[2017-08-13 15:33] mdibaiee commented on #111
@NickSeagull Yeah, but the way this save every X seconds works is, if I start typing something, and it takes 2 seconds, while the interval is 3, the first keystroke will trigger a save, but the other keystrokes will not pass the criteria of saving (being 3 seconds apart from the last keystroke), so they are not saved.

[2017-08-13 15:38] NickSeagull commented on #111
Perhaps another possibility is to debounce saving in the core by hooking up ` local .` [`oneThread`](https://www.stackage.org/haddock/lts-9.0/transient-0.5.8/Transient-Base.html#v:oneThread) ` . liftIO` instead of [ `localIO` ](https://github.com/theam/haskell-do/blob/master/src/common/HaskellDo/Compilation/State.hs#L47) for saving and add a `threadDelay interval` ?

[2017-08-13 15:48] mdibaiee commented on #111
@NickSeagull Sorry, I'm not sure I'm following you. How does `oneThread` help with the situation? I mean, how does it differ from doing a `localIO threadDelay`?

[2017-08-13 15:54] NickSeagull commented on #111
Theorically it kills the previous thread that was scheduled for that task, so if the thread is still waiting it gets killed, and if it's not running, it spawns a new one 😄

_(PS: Again, theorically, I haven't tested this approach)_

[2017-08-13 15:59] mdibaiee commented on #111
@NickSeagull Aha, but it doesn't work, I'm not sure how or why, but it seems the calls to `_update` are _independent_ in some way, they do not share state, and now it seems, they do not share thread either

[2017-08-13 16:02] NickSeagull commented on #111
Uuuh, then I think that we can do the save approach, even if some data is lost. We can make the contents to be saved when compilation is triggered tho

[2017-08-13 16:46] mdibaiee commented on #104
@NickSeagull I think we can close this now

[2017-08-13 17:22] #104 closed

[2017-08-13 17:23] NickSeagull opened #116 "Switch from Stack to Nix"
This would improve 2 things:

1. No more need to build GHCJS first time
2. Automatic installation of NodeJS/required libraries.

[2017-08-13 17:27] NickSeagull opened #117 "Use GHCJS 7.10.x instead of 8.x"
GHCJS 7.10.x has support for `ghci`, which means that it would not be needed to recompile all the project each time we want to reload something for the UI

[2017-08-16 08:22] mdibaiee commented on #111
@NickSeagull This can be closed as well :+1:

[2017-08-16 08:34] mdibaiee commented on #101
@NickSeagull this issue, as is described by vertexcite is fixed, but now, if you enter a directory name that does not exist manually (without choosing it by the file manager), there is no error thrown, and neither is the directory created, nothing happens.

What do you think we should do about it? I'd say we create the directory and initiate a project inside if the directory does not exist 🤔

[2017-08-16 08:42] #111 closed

[2017-08-16 08:42] NickSeagull commented on #101
That would be a solution. Another one would be to make the text input read only, what do you think?

[2017-08-16 08:44] mdibaiee commented on #101
@NickSeagull I think that is limiting flexibility, a user might want to copy paste a location to the input (specially if it's a long one). I'll create a PR for that.

[2017-08-16 09:23] NickSeagull commented on #101
Thank you! Closing 🙏

[2017-08-16 09:23] #101 closed

[2017-08-23 14:30] NickSeagull opened #119 "Use interactive mode with user projects"
This would make a much faster compilation, making preview nearly instant:

Instead of running `stack build` each time, which includes compilation **and linking**, we could just run a

[code]

In a repl and get the output

[2017-08-24 15:13] NickSeagull commented on #25
@mdibaiee I'm going to try to implement this today, as I'm using lots of equations right now and making screenshots of the equations and uploading them is a bit uncomfortable.

Also, I'm going to use **MathJax** because, even if it is slower, it allows using some non-standard LaTeX packages like [ `amscd` ](http://mirror.isoc.org.il/pub/ctan/macros/latex/required/amslatex/math/amscd.pdf), which al

[2017-08-24 16:00] NickSeagull commented on #25
There we go
![image](https://user-images.githubusercontent.com/7448243/29675647-af3c053c-88ed-11e7-8ba7-4203de480994.png)

[2017-08-24 16:01] #25 closed

[2017-09-14 07:18] NickSeagull opened #121 "Automatic format switcher"
Right now we store the user's project as a Markdown file with some options on top so `inliterate` can render it properly. The thing is that this is not really efficient, because if the user were to use the project as a library on a production system, they would have to drag `inliterate` and all of its dependencies with them. So, we can do something "intelligent" with it:

When the user works withi

[2017-09-14 07:21] NickSeagull opened #122 "Error highlighting"
I've been taking a look at the source code of [intero-neovim](https://github.com/parsonsmatt/intero-neovim/tree/master/autoload/intero) and it looks like we can make something like what they do for handling errors.

We can either use `intero` itself, or just parse the output from `stack`.

It is important that #121 has been done first, as it helps with source mapping.

[2017-09-26 19:54] NickSeagull opened #123 "Tell the user that an existing project cannot be used"

[2017-09-26 19:55] NickSeagull opened #124 "Initialize a "playground" when opening haskell.do"

[2017-09-26 19:59] eschnett commented on #123
I tried to access pre-existing projects, and nothing happened -- the screen remained blank, and there was no error message.

[2017-09-26 20:01] eschnett opened #125 "Tell the user that it takes a long time to initialize a new project"
When I created a new project via haskell-do, the indicator on the web page kept spinning for several minutes. I finally gave up.

Please add an indication that things can take VERY long initially (ten minutes?), and/or add a better progress indicator. `stack build`, by default, produces progress output -- I assume you hide it on purpose? Not good.

[2017-09-26 21:34] NickSeagull commented on #123
Yes @eschnett this was the reason that this issue was created! :smile:

[2017-09-26 21:35] NickSeagull commented on #125
Thanks for opening an issue @eschnett ! When opening creating a new project a message saying "Downloading dependencies" should be rendered, isnt that the case for you? :smile:

[2017-11-04 00:59] harveyslash commented on #113
Somebody mentioned using a proxy browser to communicate to jupyter (those will keep a constant connection) and then using a local machine to see the contents. Are there any tools/projects that can allow this? I am unable to find anything that would allow me to do that.

[2017-12-22 19:15] rehno-lindeque commented on #116
It would be lovely if the team packaged haskell.do for Nix (even if nix does not end up being used for development). A cross-section of Nix/Haskell users would be most grateful!

(I think I may have tried this once in the past using either [stack2nix](https://github.com/input-output-hk/stack2nix) or [stackage2nix](https://github.com/typeable/stackage2nix), but ran into some difficulties that made

[2017-12-23 15:31] NickSeagull commented on #116
Sounds great @rehno-lindeque , I'll look into it 😄

[2017-12-25 22:35] ocramz commented on #109
I've started looking into how to address this ticket, but I have a general question:

  * What are the important MVC parts ? I.e. what functions
    * read in Haskell source from an HTML text input box
    * pass Haskell source to GHC
    * display output/errors back in the HTML page

[2017-12-25 22:36] ocramz commented on #109
@NickSeagull @mdibaiee @dmjio I've started looking into how to address this ticket, but I have a general question:

* What are the important MVC parts ? I.e. what functions
   * read in Haskell source from an HTML text input box
   * pass Haskell source to GHC
   * display output/errors back in the HTML page

[2017-12-25 22:37] ocramz commented on #109
Also, what's the role of `transient`?

[2017-12-26 15:45] #71 closed

[2017-12-26 15:52] NickSeagull commented on #109
@ocramz the current architecture of Haskell.do is basically the Elm architecture. There is a big `update` function located in `HaskellDo.State` which dispatches the `HaskellDo.Action` message to each one of the components, which at the same time have their `update` function, located in `HaskellDo.<component>.State`. **It also handles errors**

The `Compilation` component basically is used to setup

[2017-12-26 16:17] ocramz commented on #109
Right, thanks!

[2017-12-26 20:58] NickSeagull commented on #109
Also, about `transient`, it allows isomorphic programming, forgot to mention it @ocramz 😄

[2018-02-21 09:31] NickSeagull opened #128 "Initialize a temporary project when first run"
This workaround would download all the required dependencies so they are cached.

[2018-03-27 08:06] pamu opened #129 "Unable to open stack Haskell project."
Unable to open stack Haskell project

error:

Command-line `haskell-do` prints "connection closed" endlessly
[code]

[2018-03-27 09:38] NickSeagull commented on #129
Hello! Are you creating a new project with Haskell.do or opening an existing one? If its the latter, Haskell.do only supports projects that have been created with it. :smile:

Thanks for reporting!

[2018-05-13 14:51] NickSeagull commented on #129
Closing as no information was provided

[2018-05-13 14:51] #129 closed